<footer class="footer">
    <div class="conteneur rangee footer__conteneur">
        <nav class="navFooter cols_8_de_12">
            <ul class="navFooter__principale">
                <li class="navFooter__principaleItem"><a href="index.php" class="navFooter__principaleLien">Le OFF</a>
                    <ul class="navFooter__secondaire">
                        <li class="navFooter__secondaireItem"><a href="index.php#lieux" class="navFooter__secondaireLien">Lieux</a></li>
                        <li class="navFooter__secondaireItem"><a href="index.php#tarifs" class="navFooter__secondaireLien">Tarifs</a></li>
                        <li class="navFooter__secondaireItem"><a href="index.php#contact" class="navFooter__secondaireLien">Contact</a></li>
                    </ul>
                </li>
                <li class="navFooter__principaleItem"><a href="programmation.php" class="navFooter__principaleLien">Programmation</a>
                    <ul class="navFooter__secondaire">
                        <li class="navFooter__secondaireItem"><a href="programmation.php?tri=lieu" class="navFooter__secondaireLien">Par Lieu</a></li>
                        <li class="navFooter__secondaireItem"><a href="programmation.php?tri=date" class="navFooter__secondaireLien">Par dates</a></li>
                    </ul>
                </li>
                <li class="navFooter__principaleItem"><a href="artistes.php" class="navFooter__principaleLien">Artistes</a>
                    <ul class="navFooter__secondaire">
                        <li class="navFooter__secondaireItem"><a href="artistes.php?tri=artistes" class="navFooter__secondaireLien">Artistes A-Z</a></li>
                        <li class="navFooter__secondaireItem"><a href="artistes.php?tri=style" class="navFooter__secondaireLien">Par style musical</a></li>
                    </ul>
                </li>
                <li class="navFooter__principaleItem"><a href="partenaires.php" class="navFooter__principaleLien">Partenaires</a>
                    <ul class="navFooter__secondaire">
                        <li class="navFooter__secondaireItem"><a href="partenaires.php#actuels" class="navFooter__secondaireLien">Partenaires actuels</a></li>
                        <li class="navFooter__secondaireItem"><a href="partenaires.php#devenir" class="navFooter__secondaireLien">Devenir partenaire</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="footer__boite footer__medias cols_4_de_12">
            <a href="https://fr-ca.facebook.com/QuebecOFF" class="fa fa-facebook"></a>
            <a href="https://twitter.com/quebecoff" class="fa fa-twitter"></a>
            <a href="https://www.youtube.com/user/FestivalOFFdeQuebec" class="fa fa-youtube"></a>
        </div>
        <div class="footer__boite cols_4_de_12">
            <h3 class="footer__titre">Coordonnées</h3>
            <p class="footer__texte">Festival OFF de Québec</p>
            <p class="footer__texte">110 boulevard René-Lévesque Ouest</p>
            <p class="footer__texte">C.P. 48036</p>
            <p class="footer__texte">Québec, Québec</p>
            <p class="footer__texte">G1R 5R5</p>
        </div>
        <div class="footer__boite cols_4_de_12">
            <h3 class="footer__titre">Contact</h3>
            <a href="" class="footer__lien">info@quebecoff.org</a>
            <a href="" class="footer__lien">media@quebecoff.org</a>
        </div>
        <div class="footer__boite cols_4_de_12">
            <h3 class="footer__titre">Infolettre</h3>
            <form action="fiche_artiste.php" class="footer__form">
                <label for="courriel" class="footer__texte footer__label">Courriel:</label>
                <input type="text" name="courriel" id="courriel" class="footer__input">
                <button type="submit" class="footer__bouton">S'insrire</button>
            </form>
        </div>
        <p class="footer__credits cols_12_de_12"><small>© 2009-2020 Festival OFF Tous droits réservés</small></p>
        <p class="footer__credits cols_12_de_12"><small>Antoine Godbout - RPNI 1 - TIM 2020</small></p>
    </div>
</footer>