<nav>
    <ul>
        <li><a href="index.php">Le OFF</a>
            <ul>
                <li><a href="index.php#lieux">Lieux</a></li>
                <li><a href="index.php#tarifs">Tarifs</a></li>
                <li><a href="index.php#contact">Contact</a></li>
            </ul>
        </li>
        <li><a href="programmation.php">Programmation</a>
            <ul>
                <li><a href="programmation.php?tri=lieu">Par Lieu</a></li>
                <li><a href="programmation.php?tri=date">Par dates</a></li>
            </ul>
        </li>
        <li><a href="artistes.php">Artistes</a>
            <ul>
                <li><a href="artistes.php?tri=artistes">Artistes A-Z</a></li>
                <li><a href="artistes.php?tri=style">Par style musical</a></li>
            </ul>
        </li>
        <li><a href="partenaires.php">Partenaires</a>
            <ul>
                <li><a href="partenaires.php#actuels">Partenaires actuels</a></li>
                <li><a href="partenaires.php#devenir">Devenir partenaire</a></li>
            </ul>
        </li>
    </ul>
</nav>